:root{
    --first-font:"Roboto", sans-serif;
    --second-font:"Raleway", sans-serif;
    --iris:#4D5AE5;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
    --light-slate: #8E8F99;
    --navy-blue:#2E2F42;
    --slate: #434455;
}

body{
    font-family: var(--first-font);
    color:#434455;
    background-color: #FFFFFF;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img{
    display: block;
}
/**
  |============================
  | MOBILE MAX 428
  |============================
*/
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px 0 16px;
}
/**
  |============================
  | HEADER
  |============================
*/
.link{
    text-decoration: none;  
}
.navbar-logo{
    font-family: var(--second-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.navbar-list{
    display: inline-flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.address-list{
    display: flex;
    gap: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.navbar-span{
    color: #2e2f42;
}
.list{
    list-style: none;
}
.navbar-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-link:hover,
.navbar-link:focus,
.navbar-link.current{
    color:var(--ocean);
}
.navbar-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;   

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
}
.header-address{
    font-style: normal;
}
.address-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus{
    color:var(--ocean);
}
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-header{
    display: flex;
    align-items: center;

}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.menu-toggle{
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
.icon-header-menu{
    stroke:var(--navy-blue);
}

/**
  |============================
  | SECTION SOLUTION (1)
  |============================
*/
.section-solution{
    background-color: #2E2F42;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)), url(../images/main_page/hero-bg.jpg);
    max-width: 1158px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (min-resolution: 192dpi) {
  .section-solution {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)), url(../images/main_page/hero-bg@2x.jpg);
  }
}
.container-solution{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:72px;
}
.title-solution{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 320px;
    text-transform: capitalize;
}

.button-solution{
    font-family: var(--first-font);
    background-color: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing:0.04em;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-solution:hover,
.button-solution:focus{
    background-color:#404BBF;
}
/**
  |============================
  | BENEFIT (2)
  |============================
*/
.section-benefit{
    padding-top: 96px;
    padding-bottom: 96px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-benefit{
    display: flex;
    flex-direction: column;
    gap:72px;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-benefit{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:  0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-benefit{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.benefits-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud);
    margin-bottom: 8px;
    height: 112px;

}

/**
  |============================
  | SECTION DOING (3)
  |============================
*/
.section-doing{
    padding-bottom: 120px;
}
.title-doing{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.container-doing{
    display: flex;
    gap:24px;
}
.list-doing{
    max-width: calc((100% - 48px) / 3);
    width: 100%;
}
.list-doing img{
    width: 100%;
    object-fit: cover;
}

/**
  |============================
  | OUR TEAM (4) 
  |============================
*/

.section-ourteam{
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}
.ourteam{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:  0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.container-ourteam{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}
.list-ourteam{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-ourteam img{
    width: 100%;
    object-fit: cover;
}
.icons-list-ourteam{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons-ourteam{
    width: 40px;
    height: 40px;
}
.link-ourteam{
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-ourteam:focus{
    background-color: var(--ocean);
}
.link-ourteam:hover{
    background-color: var(--ocean);
}
.icon-ourteam{
    fill: var(--cloud);
}
.title-ourteam{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    margin-bottom: 8px;
    text-align: center;
}
.text-ourteam{
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.container-list-ourteam{
    padding: 32px 0 32px 0;
}
/**
  |============================
  | SECTION CUSTOMERS (5)
  |============================
*/
.customers{
    padding-top: 96px;
    padding-bottom: 96px;

}
.customers-text{
    text-align: center;
    line-height:1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 36px;
    margin-bottom: 72px;
    color: #2E2F42;
}
.customers-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:16px;
    row-gap: 72px;

}  
.list-customers{
    width: calc((100% - 16px) / 2);
    height: 88px;
}
.link-customers{
    height: 100%;
    width: 100%;    
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--light-slate);
    border-color: var(--light-slate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-customers:hover,
.link-customers:focus{
    border-color: var(--ocean);
    color:var(--ocean);
}
.icon-customers{
    fill: currentColor;
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer{
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-fix{
    margin-top: 0;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-items: center;
    gap: 72px;
}
.footer-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-text{
    color: white;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.footer-logo{
    font-family: var(--second-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-list{
    gap:16px
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31d0aa;
}
.footer-span{
    color: #f4f4fd;
} 
.footer-text{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    width: 100%;
}
.subscribe-footer-label{
    width: 100%;
}
.form-input-footer{
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form-input-footer::placeholder{
    color: white;
}
.footer-button{
    max-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: var(--iris);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.footer-button:hover,
.footer-button:focus{
    background-color: var(--ocean);
}

.icon-footer{
    margin-left: 16px;
}
/**
  |============================
  | MODAL WINDOW
  |============================
*/
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    max-width: 392px;
    max-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}
.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none;
}
.modal-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon{
    fill: #ffffff;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-paragraph{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 16px;
    max-width: 360px;
    width: 100%;
    max-height: 24px;
}
.label-name{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;
}
.name-container{
    position: relative;
}
.input-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus,
.input-name:hover{
    border-color: #4D5AE5;
}
.person-icon-svg{
    position: absolute;
    left: 16px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus + svg{
    fill: #4D5AE5;
}
.modal-inputs{
    margin-bottom: 8px;
}
.comment-input{
    margin-bottom: 16px;
}

textarea.comment-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus,
.comment-text:hover{
    border-color: var(--iris);
}
.accept-privat{
    margin-bottom: 16px;
}
.accept-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.accept-span{
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.privacy-text{
    color: var(--iris);
}

.modal-send{
    display: block;
    border: none;
    min-width: 169px;
    height: 56px;
    font-family: var(--first-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    background-color: var(--iris);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left:auto;
    margin-right:auto;
}
.modal-send:hover,
.modal-send:focus{
    background-color: var(--ocean);
}
input:checked + label > span{
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}
/**
  |============================
  | MENU MOBILE
  |============================
*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 35px 40px 40px;
  background-color: white;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--navy-blue);
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus{
    background-color: #404bbf;
    border: none;
}
.menu-container .menu-toggle:hover .modal-icon,
.menu-container .menu-toggle:focus .modal-icon{
    fill: #ffffff;
}
.mobile-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 32px;
}
.mobile-menu {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}

.link-mobile-menu {
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
}
.current-mobile{
    color: var(--ocean);
}
.adress-mobile{
    display: flex;
    width: 100%;
    margin-top: auto;
    margin-bottom: 48px;
}
.adress-mobile-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.address-mobile-phone{
    display: inline-flex;
    align-items: center;
    color: var(--iris);
    font-size: 25px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-style: normal;
}
.address-mobile-mail{
    display: flex;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-weight: 500;
    font-style: normal;
    
}
.mobile-social-list{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}
/**
  |====================================================================================
    |
    |  
    | PORTFOLIO 
    | 
    | 
  |====================================================================================
*/
.button-list-portfolio{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    flex-wrap: wrap;
}
.portfolio-section{
    padding-top: 48px;
    padding-bottom: 120px;
}
.portfolio-button{
    font-family: var(--first-font);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    font-size: 16px;
    padding:  12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus{
    color:  #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link-portfolio{
    display:block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover,
.link-portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.link-portfolio:hover .hidden-paragraph,
.link-portfolio:focus .hidden-paragraph{
    transform: translateY(0%);
}
.aplication-slide{
    position: relative;
    overflow: hidden;
}
.aplication-slide img{
    width: 100%;
    object-fit: cover;
}
.hidden-paragraph{
    position: absolute;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    top: 0;
}
.portfolio-aplication{
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-wrap: wrap;
}
.aplication-list{
    width: 100%;
}
.aplication{
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    align-items: flex-start;
}
.portfolio-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    margin-bottom: 8px;
}
.portfolio-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/**
  |============================
  | MOBILE MEDIA
  |============================
*/

@media (max-width:428px){
    .navbar-list{
        display: none;
    }
    .header-address{
        display: none;
    }
    .benefits-icons{
        display: none;
    }
    .section-doing{
        display: none;
    }
}
/**
  |=============================================================================================================
  | TABLET MAX 768
  |=============================================================================================================
*/
@media (min-width:429px) and (max-width:768px){
    .benefits-icons{
        display: none;
    }
    .section-doing{
        display: none;
    }
    .menu-toggle{
        display: none;
    }
    .menu-container{
        display: none;
    }
    .container-solution{
        gap: 36px;
    }
    .header-address{
        font-size: 12px;
    }
    .navbar-list{
        gap: 0;
        max-width: 261px;
        width: 100%;
        justify-content: space-around;
    }
    .title-solution{
        font-size: 56px;
        line-height: 1.17;
        max-width: 496px;
        width: 100%;
    }
    .container-benefit{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    .text-benefit{
        width: 100%;
    }
    .title-benefit{
        width: 264px;
    }
    .benefits-list{
        align-items: start;
        flex-basis: calc((100% - 24px) / 2);
    }
    .container-ourteam{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }
    .customers-list{
        gap:24px;
        justify-content: center;
    }  
    .list-customers{
        max-width: 168px;
        width: calc((100% - 48px) / 3);
    }
    .footer-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        align-items: flex-start;
        width: 552px;
    }
    .footer-left{
        align-items: flex-start;
    }
    .footer-social{
        align-items: flex-start;
    }
    .footer-form{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
    .subscribe-footer-label{
        width: 264px;
    }
    .footer-subscribe{
        width: auto;
        display: block;
    }
    .modal{
        max-width: 408px;
    }
    .address-list{
        gap: 12px;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
    }
    /* PORTFOLIO */
    .portfolio-section{
        padding-top: 64px;
    }
    .portfolio-aplication{
        column-gap:24px;
        row-gap: 72px;
        flex-direction: row;
    }
    .aplication-list{
        width: calc((100% - 24px) / 2);
    }
}
/**
  |================================================================================================================
  | LAPTOP MAX 1158
  |================================================================================================================
*/
@media (min-width:769px){
    .menu-toggle{
        display: none;
    }
    .menu-container{
        display: none;
    }
    .modal{
        max-width: 408px;
    }
    .navbar{
        justify-content: flex-start;
    }
    .navbar-logo{
        margin-right: 76px;
    }
    .header-address{
        margin-left: auto;
    }
    .section-benefit{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section-solution{
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }
    .container-solution{
        gap: 48px;
    }
    .container-benefit{
        flex-direction: row;
        gap: 24px;
    }
    .title-solution{
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
    }
    .benefits-list{
        align-items: flex-start;
    }
    .benefits-icons{
        width: 100%;
    }
    .title-benefit{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    .text-benefit{
        width: 100%;
        max-width: 264px;
    }
    .container-ourteam{
        flex-direction: row;
        gap: 24px;
    }
    .customers{
        padding-bottom: 120px;
    }
    .customers-list{
        gap: 24px;
        flex-wrap: nowrap;
    }
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0;
    }
    .footer-left{
        align-items: flex-start;
    }
    .footer-text{
        width: 100%;
        height: 72px;
    }
    .footer-form{
        flex-direction: row;
    }
    .subscribe-footer-label{
        width: 264px;
    }
    .form-input-footer{
        max-width: 264px;
    }
    .footer-subscribe{
        width: auto;
        align-items: flex-start;
    }
    .footer-social{
        align-items: flex-start;
    }
    /* PORTFOLIO */
    .portfolio-section{
        padding-top: 100px;
    }
    .portfolio-aplication{
        column-gap:24px;
        row-gap: 48px;
        flex-direction: row;
    }
    .aplication-list{
        width: calc((100% - 48px) / 3);
    }
}

